header {
  width: 100%;
  height: 60px;
  padding-top: 10px;

  .header {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      img {
        width: 50px;
        opacity: 0.8;
      }
    }

    .header-links {
      width: 10%;
      display: flex;
      justify-content: space-between;

      a {
        &:hover {
          animation: animationHover linear 0.5s;
          color: #000;
        }
      }
    }
  }
}

@keyframes animationHover {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and(max-width: 1440px) {
  header {
    .header {
      .header-logo {
        img {
          width: 45px;
        }
      }

      .header-links {
        width: 110px;
      }
    }
  }
}

@media screen and(max-width: 768px) {
  header {
    .header {
      .header-logo {
        img {
          width: 40px;
        }
      }

      .header-links {
        width: 100px;
        font-size: 13px;
      }
    }
  }
}
